* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #141414;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button,
input {
    border: none;
    outline: none;
}

.container {
    width: 100%;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
}

img{
    max-width: 100%;
    user-select: none;
}